/debug/
/firmware/
/.doxygen/doc/
/.vscode/
!/.vscode/extensions.json
/dist/*.html
/node_modules/
/data
/.pio
__pycache__
platformio_user.ini
secrets.h
firmware.map
MyEnv.txt
Changelog.pdf
*.ino.generic.bin
*.gz
*.pyc
.scriptsJT/efu_tool.py
.scriptsJT/espixel_api_updates.py
.scriptsJT/esps_reboot.py
.scriptsJT/file_sys.py
.scriptsJT/folder_hide.py
.scriptsJT/FullBuild.py
.scriptsJT/FW.py
.scriptsJT/make_efu.py
.scriptsJT/post_efu.py
.scriptsJT/remove_comments.py
.scriptsJT/toggle_debug.py
